trigger:
  branches:
    include:
      - Dev

pool: RajaAgent

variables:
  buildConfiguration: 'Release'
  publishDirectory: '$(Build.ArtifactStagingDirectory)\publish'
  CurrentSemVer: '1.0'

name: '$(CurrentSemVer).$(Build.BuildId)-alpha'

stages:
  - stage: Build
    displayName: 'Build MyOrder Client'
    jobs:
      - job: Build
        displayName: 'Build MyOrder Blazor Client'
        steps:
          - task: PowerShell@2
            displayName: 'Set Clean Branch Name'
            inputs:
              targetType: 'inline'
              script: |
                $cleanBranchName = $env:BUILD_SOURCEBRANCHNAME -replace 'refs/heads/', ''
                Write-Host "##vso[task.setvariable variable=BranchName]$cleanBranchName"

          - script: |
              echo ##vso[build.updatebuildnumber]$(Build.BuildNumber)-$(BranchName)
            displayName: 'Append Branch to Build Number'

          - task: UseDotNet@2
            inputs:
              packageType: 'sdk'
              version: '8.x'

          - script: dotnet --version
            displayName: 'Show active .NET SDK version'

          - task: DotNetCoreCLI@2
            displayName: 'Restore Solution'
            inputs:
              command: 'restore'
              projects: 'MyOrderClient.sln'

          - task: DotNetCoreCLI@2
            displayName: 'Build Solution'
            inputs:
              command: 'build'
              projects: 'MyOrderClient.sln'
              arguments: >
                --configuration $(buildConfiguration)
                --no-restore
                /p:Version=$(CurrentSemVer)
                /p:FileVersion=$(CurrentSemVer)
                /p:InformationalVersion="$(Build.BuildNumber)"

          - task: DotNetCoreCLI@2
            displayName: 'Publish WebApp'
            inputs:
              command: 'publish'
              projects: 'MyOrder/MyOrder/MyOrder.csproj'
              arguments: >
                --configuration $(buildConfiguration)
                --output $(publishDirectory)
                --no-restore
                --no-build
                /p:Version=$(CurrentSemVer)
                /p:FileVersion=$(CurrentSemVer)
                /p:InformationalVersion="$(Build.BuildNumber)"

          - task: PublishPipelineArtifact@1
            inputs:
              targetPath: '$(publishDirectory)'
              artifact: 'drop_newdepo'

          - task: TriggerPipeline@2
            inputs:
              serviceConnection: 'TriggerRelease-DotNet'
              project: 'd2023a78-b18d-451a-b55f-c2f0d8645b95'
              Pipeline: 'Release'
              releaseDefinition: '15'
              Description: 'Start trigger release pipeline for MyOrderClient'
              buildapiversion: '6.0'
              releaseapiversion: '6.0'