.logo {
    width: 175px;
    height: auto;
    background-color: #fbfaf7;
    border-radius: 4px;
    box-shadow: 0 0 10px 1px #abc5ff78;
}

.header-cards-height {
    height: 100%;
}

.header-cards-height-content {
    flex: 1;
    padding: 12px;
}

.compact-client-details {
    padding: 4px 8px;
    font-size: 0.875rem;
    background-color: #f5f5f5;
    border-radius: 4px;
    width: 100%;
    display: inline-block;
}

.full-height-container {
    height: 100%;
}

.mud-input-control.mud-input-control-margin-dense {
    margin: 0px !important;
    margin-block: 4px !important;
}

.mudcard-details-info-background {
    background: transparent !important;
    box-shadow: inset 0px 0px 7px #00000025 !important;
}

.outlined-generic-select input {
    padding-top: 8px !important;
    padding-bottom: 7px !important;
}

.outlined-display-field p {
    padding-top: 2px !important;
    padding-bottom: 4px !important;
    color: #6C757D;
}

.onlyfordisplay-field input {
    background-color: #f0f0f0; /* Slightly darker gray background */
    border: none; /* No border to show it's non-interactive */
    color: #888; /* Dimmed text color */
    font-style: italic; /* Italic to reinforce it's display-only */
    cursor: default; /* Default cursor to show non-interactive state */
}

.readonly-field input {
    background-color: #f7f7f7; /* Light gray background */
    border: 1px solid #dcdcdc; /* Light gray border */
    color: #555; /* Dimmed color */
    transition: border-color 0.2s ease-in-out;
}

.readonly-field input:hover {
    border-color: #a6a6a6; /* Slightly darker border on hover */
}

.readwrite-field input {
    background-color: #ffffff; /* White background to make it clear this is an editable field */
    border: 1px solid #c5c5c5; /* Light grey border for neutrality */
    transition: border-color 0.2s ease-in-out; /* Smooth transition for hover and focus */
    padding: 0.5rem;
}

.readwrite-field input:focus {
    border-color: #3498db; /* Blue border on focus */
    box-shadow: 0 0 5px rgba(52, 152, 219, 0.5); /* Soft blue shadow for focus */
}

.readwrite-field input:hover {
    border-color: #2980b9; /* Darker blue border on hover */
}

.add-basket-dialog-field span:nth-of-type(2) {
   width:100%;
}




/*===============*/
.my-data-grid .mud-data-grid-header th,
.my-data-grid .mud-data-grid-cell {
    border: 1px solid blue; /* Adjust the border color and style as needed */
}

/* Optional: Add border color and style to the rows and columns as well */
.my-data-grid .mud-data-grid-row {
    border-bottom: 1px solid blue; /* Add a bottom border to rows */
}

.change-mudselect-font .mud-select-input {
    font-size: .75rem;
}

.header-style {
    text-align: center;
    margin: 5% auto;
    font-weight: bold;
    font-size: 10px;
    color: red;
}
