.logo {
    width: 175px;
    height: auto;
    background-color: #fbfaf7;
    border-radius: 4px;
    box-shadow: 0 0 10px 1px #abc5ff78;
}

.header-cards-height {
    height: 790px;
    display: flex;
    flex-direction: column;
}

.header-cards-height-content {
    flex: 1;
    padding: 12px;
}

.compact-client-details {
    padding: 4px 8px;
    font-size: 0.875rem;
    background-color: #f5f5f5;
    border-radius: 4px;
    width: 100%; 
    display: inline-block;
}

.full-height-container {
    height: 100%;
}


/*===============*/
.my-data-grid .mud-data-grid-header th,
.my-data-grid .mud-data-grid-cell {
    border: 1px solid blue; /* Adjust the border color and style as needed */
}

/* Optional: Add border color and style to the rows and columns as well */
.my-data-grid .mud-data-grid-row {
    border-bottom: 1px solid blue; /* Add a bottom border to rows */
}

.change-mudselect-font .mud-select-input {
    font-size: .75rem;
    
}

.header-style {
    text-align: center;
    margin: 5% auto;
    font-weight: bold;
    font-size: 10px;
    color: red;
}
