.logo {
    width: 175px;
    height: auto;
    background-color: #fffaf0ff;
    border-radius: 4px;
    box-shadow: 0 0 15px 5px #5c6b8e;
}

.header-cards-height {
    height: 790px;
    display: flex;
    flex-direction: column;
}

.header-cards-height-content {
    flex: 1;
    padding: 12px;
}

.compact-client-details {
    padding: 4px 8px;
    font-size: 0.875rem;
    background-color: #f5f5f5; 
    border-radius: 4px;
}