:root {
    --outlined-input-padding-top: 8px;
    --outlined-input-padding-bottom: 6px;
}

.custom-appbar .mud-toolbar {
    padding-left: 20px !important;
    padding-right: 20px !important;
    /*    background: linear-gradient(45deg, rgba(47, 153, 225, 1) 10%, rgba(20, 126, 218, 1) 30%, rgba(10, 116, 218, 1) 50%);*/
}

.logo {
    height: 42px !important;
    width: auto !important;
}

.fixed-progress-bar {
    position: fixed;
    top: var(--mud-appbar-height);
    left: 0;
    right: 0;
    z-index: var(--mud-zindex-appbar);
}

.header-cards-height {
    min-height: 20vh;
    height: 100%;
}

.header-cards-height-content {
    padding: 8px;
}

.full-height-container {
    height: 100%;
}

.mud-input-control.mud-input-control-margin-dense {
    margin: 0px !important;
    margin-block: 4px !important;
}
.mud-input-root-outlined.mud-input-root-margin-dense{
    padding-top: 5px !important;
}

.outlined-generic-select .mud-input-slot {
    padding-top: var(--outlined-input-padding-top) !important;
    padding-bottom: var(--outlined-input-padding-bottom) !important;
}

.outlined-generic-textfield .mud-input-slot {
    padding-top: var(--outlined-input-padding-top) !important;
    padding-bottom: var(--outlined-input-padding-bottom) !important;
}

.outlined-generic-textfield textarea {
    margin-top: 3px !important;
}

.outlined-generic-numeric-field .mud-input-slot {
    padding-top: var(--outlined-input-padding-top) !important;
    padding-bottom: var(--outlined-input-padding-bottom) !important;
}

.outlined-generic-numeric-field .mud-input-outlined .mud-input-numeric-spin {
    padding-right: 6px !important;
    padding-top: 2px !important;
    padding-bottom: 2px !important;
}

    .outlined-generic-numeric-field .mud-input-outlined .mud-input-numeric-spin button .mud-icon-root {
        font-size: 1.125rem;
    }



.adress-textarea > div > div > div {
    padding-top: 6px !important;
    padding-bottom: 6px !important;
}

/* Fields */

.onlyfordisplay-field input {
    background-color: #f0f0f0; /* Slightly darker gray background */
    border: none; /* No border to show it's non-interactive */
    color: #888; /* Dimmed text color */
    font-style: italic; /* Italic to reinforce it's display-only */
    /*cursor: default;*/
}

.onlyfordisplay-field-emphasize label {
    font-weight: 700 !important;
}

.onlyfordisplay-field-warn label {
    font-weight: 700 !important;
    color: var(--mud-palette-error) !important;
}

.outlined-display-field .mud-input-outlined-border,
.mudcard-details-info-background {
    background-color: transparent;
    box-shadow: inset 0px 0px 10px #b7cbef33 !important;
}

.outlined-display-field * {
    cursor: default !important;
}

.outlined-display-field p,
.outlined-display-field span {
    padding-top: 2px !important;
    padding-bottom: 4px !important;
    /*        color: #6C757D;*/
}

.fixed-multiline-display-field {
    --multiple-factor: 1;
}

    .fixed-multiline-display-field
    .mud-input-control-input-container
    .mud-input
    .mud-input-slot {
        height: calc(25px * var(--multiple-factor)) !important;
        display: ruby !important;
        padding-right: 2px !important;
        padding-top: 12px !important;
        padding-bottom: 12px !important;
    }

    .fixed-multiline-display-field p {
        max-height: 100%;
        width: 100%;
        padding-top: 0px !important;
        padding-bottom: 0px !important;
        white-space: normal;
        word-wrap: break-word;
        overflow-y: visible;
        overflow-x: hidden;
    }


.readonly-field input {
    background-color: #f7f7f7; /* Light gray background */
    border: 1px solid #dcdcdc; /* Light gray border */
    color: #555; /* Dimmed color */
    transition: border-color 0.2s ease-in-out;
}

    .readonly-field input:hover {
        border-color: #a6a6a6; /* Slightly darker border on hover */
    }

.readwrite-field input {
    background-color: #ffffff; /* White background to make it clear this is an editable field */
    border: 1px solid #c5c5c5; /* Light grey border for neutrality */
    transition: border-color 0.2s ease-in-out; /* Smooth transition for hover and focus */
    padding: 0.5rem;
}

    .readwrite-field input:focus {
        border-color: #3498db; /* Blue border on focus */
        box-shadow: 0 0 5px rgba(52, 152, 219, 0.5); /* Soft blue shadow for focus */
    }

    .readwrite-field input:hover {
        border-color: #2980b9; /* Darker blue border on hover */
    }

.required-field div label {
    color: red !important;
}

.mud-input-control > .mud-input-control-input-container > div.mud-input.mud-input-text.mud-input-text-with-label {
    margin-top: 16px !important;
}

.basket-notification-snackbar {
    max-width: 95vw !important;
    min-width: 70vw !important;
    width: 650px;
}

.app-dialog-modal {
    min-width: 60vw;
    max-width: 1200px !important;
    min-height: 60vh;
    max-height: 750px !important;
    height: auto;
    overflow: auto;
}

.mud-radio-group > div[role="group"],
.mud-radio-group p.mud-typography-body1 {
    width: 100%;
}

/* Order in the following "mud shrink label" overrides are important. Go from more general to more specific.*/
:where(.mud-shrink ~ label.mud-input-label.mud-input-label-inputcontrol) {
    transform: translate(0px, 1.5px) scale(0.9) !important;
}

:where(.mud-shrink ~ label.mud-input-label.mud-input-label-inputcontrol.mud-input-label-outlined) {
    transform: translate(12px, -9px) scale(0.9) !important;
}

:where(.mud-input-outlined-with-label.mud-shrink) > fieldset.mud-input-outlined-border > legend {
    font-size: .9rem !important;
}

.selected-row {
    background-color: rgba(96, 165, 250, 0.3) !important;
    border-left: 4px solid var(--mud-palette-secondary) !important;
    color: var(--mud-palette-primary-darken) !important;
}

    .selected-row * {
        color: inherit !important;
    }

/*============ fonts overrides ============*/

:where(.column-header) {
    font-size: 0.95rem !important;
    text-transform: uppercase !important;
    letter-spacing: 0.02em;
}
/*======================= Tabs inside Dialogs =======================*/
.tabfix .mud-tab-slider.mud-tab-slider-horizontal {
    height: 0px;
}

.tabfix .mud-tab.mud-tab-active {
    border-bottom: 2px solid var(--mud-palette-primary);
}

.mud-tab {
    min-width: unset !important;
    padding: 0 10px !important;
}

    .mud-tab .mud-tab-icon-text {
        font-size: 1.75rem !important;
    }

/*===================================================================*/

.overline-label {
    position: absolute;
    top: -18px;
    left: 16px;
    background-color: white;
    padding: 2px 8px;
    border-radius: 8px;
    z-index: 1;
    box-shadow: inset 0 -1px 6px rgba(0, 0, 0, 0.15);
}
