<div class="mt-n1">
    <MudTextField Typo="Typo.caption"
                  Class="mudcard-details-info-background rounded"
                  Lines="4"
                  Variant="Variant.Outlined"
                  FullWidth="true"
                  Margin="Margin.Dense"
                  ReadOnly="true"
                  Value="Address" />
</div>
@code {
    [Parameter, EditorRequired] public string Address { get; set; }
}