@using MyOrder.Components.Childs
@inherits LayoutComponentBase

<MudThemeProvider />
<MudPopoverProvider />


<MudLayout>
    <MudAppBar Color="Color.Transparent" Elevation="2">
        <MudImage Src="images/Raja-Logo.png" Alt="Raja Group" Style="width: 100px; height: auto; margin-right: 30px;" />
        <GeneralInfo />
    </MudAppBar>

    <MudMainContent>
        @Body
    </MudMainContent>
</MudLayout>


<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>