@using MyOrder.Components.Childs
@inherits LayoutComponentBase

<RadzenComponents />

<RadzenLayout style="grid-template-areas: 'rz-sidebar rz-header' 'rz-sidebar rz-body';">
    <RadzenHeader>

        <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Start">
            <RadzenImage Path="images/Raja-Logo.png" AlternateText="Raja Group" />
            <GeneralInfo />
        </RadzenStack>

        

    </RadzenHeader>

    <RadzenBody>
        <RadzenRow class="rz-mx-auto" Style="max-width: 2880px; padding: 0;">
            <RadzenColumn Size="12">
                @Body
            </RadzenColumn>
        </RadzenRow>
    </RadzenBody>

</RadzenLayout>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>