@using Microsoft.Extensions.Options
@using MyOrder.Components.Childs
@inherits LayoutComponentBase


<MudThemeProvider Theme="@ThemeConfiguration.MyTheme" />
<MudPopoverProvider />


<MudLayout>
    <MudAppBar Elevation="2">
        <MudImage Src="images/Raja-Logo.png" Alt="Raja Group" Class="logo"  />
        <GeneralInfo/>
    </MudAppBar>

    <MudMainContent>
        @Body
    </MudMainContent>
</MudLayout>


<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>