@using Fluxor
@using MyOrder.Components.Childs
@using MyOrder.Services
@using MyOrder.Store.GeneralInfoUseCase
@using MyOrder.Store.RessourcesUseCase
@inherits LayoutComponentBase

@inject NavigationManager NavigationManager
@inject BasketService BasketService

@* Required for MudBlazor framework *@
@* <MudThemeProvider Theme="@ThemeConfiguration.MyTheme" /> *@
<MudThemeProvider Theme="_themeManager.Theme" />

<MudPopoverProvider />

@* Needed for dialogs *@
<MudDialogProvider />

@* Needed for snackbars *@
<MudSnackbarProvider />

@if (RessourcesState.Value.IsLoading)
{
    <MudOverlay Visible="RessourcesState.Value.IsLoading" ZIndex="9999" DarkBackground="false">
        <MudProgressCircular Size="Size.Large" Indeterminate="true" />
    </MudOverlay>
    return;
}

@if (GeneralInfoState.Value.IsLoading)
{
    @* #warning "Refactor to use MudDialog fullscreen with close button false" *@
    <MudOverlay Visible="GeneralInfoState.Value.IsLoading" ZIndex="9999" DarkBackground="false">
        <MudProgressCircular Size="Size.Large" Indeterminate="true" />
    </MudOverlay>
}

<MudLayout>
    <MudAppBar Elevation="2">
        <MudImage Src="@_companyLogoSrc" Alt="Raja Group" Class="logo" />
        <GeneralInfo />
    </MudAppBar>

    <MudMainContent>
        @Body
        @* RequiredByThemeManager *@
        <MudThemeManagerButton OnClick="@((e) => OpenThemeManager(true))" />
        <MudThemeManager Open="_themeManagerOpen"
                         OpenChanged="OpenThemeManager"
                         Theme="_themeManager"
                         ThemeChanged="UpdateTheme" />
    </MudMainContent>
</MudLayout>


<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code {
    [Inject]
    private IDispatcher Dispatcher { get; set; }
    [Inject]
    private IState<RessourcesState> RessourcesState { get; set; }
    private ThemeManagerTheme _themeManager = new ThemeManagerTheme() { Theme = ThemeConfiguration.RajaTheme };
    private string _companyLogoSrc = "images/Raja-Logo.png";
    public bool _themeManagerOpen = false;

    [Inject]
    IState<GeneralInfoState> GeneralInfoState { get; set; }

    void OpenThemeManager(bool value)
    {
        _themeManagerOpen = value;
    }

    void UpdateTheme(ThemeManagerTheme value)
    {
        _themeManager = value;
        StateHasChanged();
    }

    protected override void OnInitialized()
    {
        /// For Theme manager
        StateHasChanged();
        //////////////////////////

        GeneralInfoState.StateChanged += GenInfoOnStateChanged;
        RessourcesState.StateChanged += ResInfoOnStateChanged;


        var uri = new Uri(NavigationManager.Uri);
        var queryParams = System.Web.HttpUtility.ParseQueryString(uri.Query);
        var basketId = queryParams["basketId"];
        if (!string.IsNullOrEmpty(basketId))
        {
            BasketService.BasketId = basketId; // Cache the basket ID in a service
        }

        Dispatcher.Dispatch(new FetchRessourcesAction(RessourcesState.Value, basketId)); //Refactor
    }

    //Duplicate code for testing purpose
    protected virtual void GenInfoOnStateChanged(object? sender, EventArgs e)
    {
        InvokeAsync(async () =>
        {
            if (GeneralInfoState?.Value?.GeneralInfo?.Company?.GroupId == "viking")
            {
                _themeManager.Theme = ThemeConfiguration.VikingTheme;
                _companyLogoSrc = "images/Viking-Logo.png";
            }
            else
            {
                _themeManager.Theme = ThemeConfiguration.RajaTheme;
                _companyLogoSrc = "images/Raja-Logo.png";
            }
            await InvokeAsync(StateHasChanged);
        });
    }
    protected virtual void ResInfoOnStateChanged(object? sender, EventArgs e)
    {
        StateHasChanged();
    }
}