@using MyOrder.Components.Childs.GeneralInfo
@using MyOrder.Shared.Interfaces

@inherits LayoutComponentBase
@inject INotificationService NotificationService // DO NOT REMOVE : This injection is necessary to initiate the service

@* Required for MudBlazor framework *@
<MudThemeProvider @ref="_themeProvider"
                  Theme="@ThemeConfiguration.RajaTheme" />
@* <MudThemeProvider Theme="_themeManager.Theme" /> *@

<MudPopoverProvider />

@* Needed for dialogs *@
<MudDialogProvider />

@* Needed for snackbars *@
<MudSnackbarProvider />

<PublishBasketOverlay />
<ShortcutEventsComponent />
<ExternalNavigationHelper />
<BlockingOperationOverlay />

<MudLayout>
    <CascadingValue IsFixed="true"
                    Value="_themeProvider">
        <MudAppBar Elevation="2" Class="custom-appbar">
            <GeneralInfo />
        </MudAppBar>

        <MudMainContent>
            <GlobalProgressBar />
            @Body
        </MudMainContent>
    </CascadingValue>
</MudLayout>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code {
    private MudThemeProvider _themeProvider = null!;
}