@using MyOrder.Components.Childs
@inherits LayoutComponentBase

<MudThemeProvider />
<MudPopoverProvider />


<MudLayout>
    <MudAppBar>
        @* <img Path="images/Raja-Logo.png" AlternateText="Raja Group" /> *@
        @* <GeneralInfo />*@
    </MudAppBar>

    <MudMainContent>
        @Body
    </MudMainContent>
</MudLayout>


<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>