@using MyOrder.Store.TradeInfoUseCase
@inherits FluxorComponentBase<TradeInfoState, FetchTradeInfoAction>

@if (isLoading)
{
    <HeaderElementLoadingSkeleton />
    return;
}
<FetchActionTypeCascadingValue FetchActionTypeValue="FetchActionType">
    <MudStack Justify="Justify.SpaceBetween" Style="height: inherit;">
        <MudStack Spacing="2">
            <MudText Typo="Typo.h6" Color="Color.Secondary" Class="pb-4">Informations Commerciales</MudText>
            <MudText Typo="Typo.subtitle1">@BasketTradeInfoDto?.Turnover?.Name</MudText>
            <MudDataGrid Items="@Turnover"
                         SortMode="@SortMode.None"
                         Striped="true"
                         Hover="true"
                         Dense="true"
                         Elevation="0"
                         Class="mx-n3">
                <Columns>
                    <PropertyColumn Property="x => x == null? string.Empty : x.Name"
                                    Title="@string.Empty"
                                    CellClass="pa-1 ma-1" />
                    <PropertyColumn Property="x => x == null? string.Empty : x.Ytd"
                                    Title="YTD"
                                    CellClass="pa-1 ma-1" />
                    <PropertyColumn Property="x => x == null? string.Empty : x.YtdN1"
                                    Title="YTD-1" />
                    <PropertyColumn Property="x => x == null? string.Empty : x.N1"
                                    Title="N-1"
                                    CellClass="pa-1 ma-1" />
                    <PropertyColumn Property="x => x == null? string.Empty : x.N2"
                                    Title="N-2"
                                    CellClass="pa-1 ma-1" />
                </Columns>
            </MudDataGrid>
        </MudStack>


        <!--Contract en cours-->
        @if (Contract is not null)
        {
            <MudStack Spacing="6" Class="mt-6">
                <div>
                    <MudText Typo="Typo.subtitle1" Color="Color.Warning">Contrats en cours</MudText>

                    <MudGrid Spacing="1">
                        <MudItem xs="6">
                            <DisplayField Field="Contract?.ContractId" />
                        </MudItem>
                        <MudItem xs="6">
                            <DisplayField Field="Contract?.ContractGroup" />
                        </MudItem>
                        <MudItem xs="6">
                            <DisplayField Field="Contract?.Status" />
                        </MudItem>
                    </MudGrid>
                </div>


                <div>
                    <MudText Typo="Typo.subtitle1"
                             Color="Color.Warning">
                        @ContractDescription @Contract?.ContractId?.Value
                    </MudText>

                    <!--Contract details-->

                    <MudGrid Spacing="1">

                        <MudItem xs="6">
                            <MudField Margin="Margin.Dense" T="string"
                                      Variant="Variant.Outlined"
                                      Label="Date"
                                      Class="outlined-display-field"
                                      InnerPadding="false"
                                      Disabled="false">
                                <MudText Typo="Typo.body2">@Contract.ContractDates</MudText>
                            </MudField>
                        </MudItem>

                        <MudItem xs="6">
                            <DisplayField Field="Contract?.CampaignId" />
                        </MudItem>

                        <MudItem xs="6">
                            <DisplayField Field="Contract?.MainContact" />
                        </MudItem>

                        <MudItem xs="6">
                            <DisplayField Field="Contract?.OfficeExecutive" />
                        </MudItem>

                    </MudGrid>
                </div>
            </MudStack>
                <MudDivider Style="visibility:hidden;"/>
            <div>
                <MudTextField Typo="Typo.caption"
                              Lines="4"
                              Variant="Variant.Outlined"
                              FullWidth="true"
                              Margin="Margin.Dense"
                              ReadOnly="true"
                              Label="@Contract?.DiscountList?.Name"
                              Value="DiscountDetails" />
            </div>

        }
        else
        {
            <div>
                <MudText Typo="Typo.subtitle1" Color="Color.Warning">Contrats en cours</MudText>
                <MudText Typo="Typo.body1">Aucun contrat en cours</MudText>
            </div>
            <MudDivider />
        }
    </MudStack>
</FetchActionTypeCascadingValue>