<div class="row" style="margin: 0;">
    <CascadingValue Value="@BasketHeaderDto">
        <ClientDetails />
        <DeliveryDetails />
        <InvoiceDetails />
        <CommercialDetails />
    </CascadingValue>
</div>