        <div class="col-md-3" style="padding: 5px;">
            <RadzenCard class="card-container">
                <ChildContent>
                    <h4 class="card-title">Facturation</h4>
                    <!-- Content for Facturation section -->
                </ChildContent>
            </RadzenCard>
        </div>
