@using Fluxor
@using Fluxor.Blazor.Web.Components
@using MyOrder.Components.Childs.Lines
@using MyOrder.Store.LinesUseCase
@using MyOrder.Store.RessourcesUseCase

@inherits FluxorComponentBase<LinesState, FetchLinesAction>

@if (State.Value.IsLoading)
    return;


<h4>Test Component</h4>
<FetchActionTypeCascadingValue FetchActionTypeValue="typeof(FetchLinesAction)">
    <MudGrid Class="py-1" Spacing="4" Justify="Justify.Center">
        <!--S1-->
        <MudItem xs="12" sm="3">
            <LineArticleDetails BasketLine="@State.Value.BasketOrderLines.lines[0]" UpdateReasons="Resourcesstate.Value.UpdateReasons" />
        </MudItem>

         <!--S2--> 
         <MudItem xs="12" sm="5"> 
             <LineStockQuantities BasketLine="@State.Value.BasketOrderLines.lines[0]" LogisticFlows="Resourcesstate.Value.LogisticFlows" /> 
         </MudItem> 

         <!--S3--> 
         <MudItem xs="12" sm="4"> 
             <LinePricesQuantities BasketLine="@State.Value.BasketOrderLines.lines[0]" /> 
         </MudItem> 
    </MudGrid>
</FetchActionTypeCascadingValue>
@code {
    // [Inject]
    // private IState<LinesState> State { get; set; }
    [Inject]
    private IState<RessourcesState> Resourcesstate { get; set; }

    protected override void CacheNewFields()
    {
        return;
    }
    protected override FetchLinesAction CreateFetchAction(LinesState state) =>
    new(state);
}
