@inherits ComponentBase
@rendermode InteractiveServer

<div class="row" style="padding: 5px; margin: 0;">
    <RadzenCard class="card-container">
        <ChildContent>
            <RadzenStack Orientation="Orientation.Horizontal" Wrap="FlexWrap.Wrap" JustifyContent="JustifyContent.SpaceBetween" Gap="15px" class="amounts-container">
                <RadzenStack Orientation="Orientation.Horizontal" Wrap="FlexWrap.Wrap" JustifyContent="JustifyContent.SpaceBetween" Gap="15px" class="amounts-container">
                    <RadzenFieldset Style="flex: 1; min-width: 200px;">
                        <RadzenLabel Text="CodeArticle" class="field-label" />
                        <RadzenTextBox @bind-Value="lineItem.CodeArticle"  class="field-input" />
                        <RadzenLabel Text="Description" class="field-label" />
                        <div style="display: flex; align-items: center;">
                            <RadzenTextBox @bind-Value="lineItem.Description" Placeholder="0.00" class="field-input" />
                            <RadzenIcon Icon="warning" class="warning-icon" />
                        </div>
                        <RadzenLabel Text="Entrepot" class="field-label" />
                        <RadzenTextBox @bind-Value="lineItem.Entrepot" Placeholder="0.00" class="field-input" />
                        <RadzenLabel Text="Quantite" class="field-label" />
                        <RadzenNumeric @bind-Value="lineItem.Quantite" Placeholder="0.00" class="field-input" />
                    </RadzenFieldset>

                    <RadzenFieldset Style="flex: 1; min-width: 200px;">
                        <RadzenLabel Text="PrixUnitaire" class="field-label" />
                        <RadzenNumeric @bind-Value="lineItem.PrixUnitaire" TValue="decimal" Placeholder="0.00" class="field-input" />
                        <RadzenLabel Text="Tarification" class="field-label" />
                        <RadzenTextBox @bind-Value="lineItem.Tarification" Placeholder="0.00" class="field-input" />
                    </RadzenFieldset>

                    <RadzenFieldset Style="flex: 1; min-width: 200px;">
                        <RadzenLabel Text="MontantHT" class="field-label" />
                        <RadzenNumeric @bind-Value="lineItem.MontantHT" TValue="decimal" Placeholder="0.00" class="field-input" />
                    </RadzenFieldset>
                </RadzenStack>
                <RadzenStack Orientation="Orientation.Horizontal" Wrap="FlexWrap.Wrap" JustifyContent="JustifyContent.Start" Gap="15px" class="buttons-container">
                    <RadzenButton Text="Add Line" Click="AddLine" Style="margin: 5px;" />
                    <RadzenButton Text="Cancel" Click="Cancel" Style="margin: 5px;" />
                </RadzenStack>
            </RadzenStack>
        </ChildContent>
    </RadzenCard>
</div>
