<MudPaper Elevation="2" Class="header-cards-height header-cards-height-content pa-4">
    @if(NoContent)
    {
        <div class="d-flex flex-column align-center">
            <MudText Typo="Typo.body2" Color="Color.Dark" Class="pt-4">
                <em>Aucune ligne sélectionnée</em>
            </MudText>
        </div>
    }
    else
        @ChildContent
</MudPaper>

@code {
    [Parameter, EditorRequired]
    public bool NoContent { get; set; } = true;

    [Parameter]
    public RenderFragment ChildContent { get; set; } = default!;
}
