<MudGrid>
    <MudItem xs="12" sm="4">
        @* <MudTextField Label="Rechercher" 
            Variant="Outlined" Adornment="Start" 
            AdornmentIcon="@Icons.Material.Filled.Search" /> *@
            <h1>test</h1>
    </MudItem>
    
    <MudItem xs="12" sm="4" class="d-flex align-center">
        @* <MudCheckBox Label="Filtrer les articles inactifs" /> *@
    </MudItem>
    
    <MudItem xs="12" sm="4">
       @*  <MudSelect Label="Catégorie(s)">
            <MudSelectItem Value="Category1">Category 1</MudSelectItem>
            <MudSelectItem Value="Category2">Category 2</MudSelectItem>
            <MudSelectItem Value="Category3">Category 3</MudSelectItem>
        </MudSelect> *@
    </MudItem>
</MudGrid>

@code {

}
