@using Fluxor
@using Microsoft.AspNetCore.WebUtilities
@using MyOrder.Store.CreateBasketUseCase

@page "/CreateBasket"
@layout DefaultLayout

@inject NavigationManager navigationManager
@inject IDispatcher dispatcher

@rendermode InteractiveServer

<h2>Redirection...</h2>

@code {

    protected override void OnInitialized()
    {
        var uri = navigationManager.ToAbsoluteUri(navigationManager.Uri);
        var queryParams = QueryHelpers.ParseQuery(uri.Query);

        // Convert StringValues to take only one string per key
        var postData = queryParams.ToDictionary(
            kvp => kvp.Key,
            kvp => kvp.Value.FirstOrDefault() ?? string.Empty
        );

        dispatcher.Dispatch(new CreateBasketAction(postData));
    }
}
