@using MyOrder.Components.Childs.Amounts
@using MyOrder.Components.Childs.Header
@using MyOrder.Components.Childs.Lines

@page "/"
@rendermode InteractiveServer

<PageTitle>MyOrder</PageTitle>

<div class="container-fluid" style="padding: 0; margin: 0; width: 100%;">

        <Header />
        <Amounts />
        <Lines />
</div>