@using MyOrder.Components.Childs.Header

@page "/"
@rendermode InteractiveServer

<PageTitle>MyOrder</PageTitle>

<div class="container-fluid" style="padding: 0; margin: 0; width: 100%;">
    <Header />
</div>