@using MyOrder.Components.Childs.Amounts
@using MyOrder.Components.Childs.Header
@using MyOrder.Components.Childs.Lines

@page "/"
@rendermode InteractiveServer

<PageTitle>MyOrder</PageTitle>

<div class="container-fluid" style="padding: 0; margin: 0; width: 100%;">
    <CascadingValue Value="TEST_BASKET_ID">
        <RadzenTextBox @bind-Value="TEST_BASKET_ID" Placeholder="Enter Basket Id" />
        <RadzenButton Text="Search" Click="ChangeText" Style="margin-top: 10px;" />
        <Header />
        <!--<Amounts />-->
        <PlaceHolder />
        <Lines />
    </CascadingValue>
</div>

@code
{
    private string TEST_BASKET_ID = "P0130625";

    private void ChangeText()
    {
        StateHasChanged();
    }
}