name: Run Playwright tests

on:
  push:
   paths:
      - 'InteractionTestsCSharp/**'                 # any file inside
      - '**/*.spec.cs'             # Playwright spec tests, any files ending with spec.cs will trigger the test
      - '.github/workflows/PlaywrightTests.yml'  # this workflow file
  workflow_dispatch: # manual trigger

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Setup .NET
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: '7.0.x'

    - name: Restore dependencies
      run: dotnet restore

    - name: Install Playwright Browsers
      run: |
        dotnet build
        pwsh ./bin/Debug/net7.0/playwright.ps1 install --with-deps

    - name: Run tests
      env:
        BASE_URL: https://sedulously-clypeate-hilaria.ngrok-free.dev
      run: dotnet test --filter Category=PlaywrightTests
